.container {
    max-width: 100%;
  }
  
  @media (max-width: 767px) {
    .col-md-auto {
      flex: 0 0 100%; 
      display: flex;
      justify-content: center; 
      align-items: center;
    }
  
    .col-md-auto img {
      width: 100%; 
      height: auto; 
    }
  }
  